@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

body {
    background: whitesmoke;
    color: #444;
    font: normal normal 1rem/1.75rem 'Ubuntu', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
}